.card {
    position: relative;
}

.coffee-img-wrapper {
    display: inline-block; 
}

.coffee-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8%;
}

.coffee-pop {
    font-family: "DM Sans", serif;
    position: absolute;
    top: -0.8rem;
    left: 0.5rem; 
    color: #111315; 
    font-size: 1.2rem; 
    font-weight: bold; 
    background-color: #F6C768;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.coffee-name {
    color: #FEF7EE;
    font-size: 1rem;
    font-family: "DM Sans", serif;
    margin-bottom: -0.8rem;
}

.coffee-price {
    font-weight: 600;
    background-color: #BEE3CC;
    padding: 0.2rem 0.4rem;
    border-radius: 8%;
    position: absolute;
    right: 0;
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    position: relative;
}

.rating-text {
    color: #FEF7EE;
    font-family: "DM Sans", serif;
    font-weight: 400;
}

.rating-votes {
    color: #6F757C;
    font-family: "DM Sans", serif;
    font-weight: 400;
}

.coffee-available {
    color: #ED735D;
    font-family: "DM Sans", serif;
    font-weight: 400;
    margin-top: -0.5rem;
}